*{
    margin: 0;
    padding: 0;
}

body,h1,h2,h3{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
/* 链接样式 */
a{
	text-decoration: none;
}

body{
	font-family: tahoma;
}
/* 头部导航条 */
.header{
	height: 4rem;
    background-color:#3b5998;
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 6px gray;
}

.header:hover{
	box-shadow: 0px 0px 10px gray;
}

li.sign a{
	color: white;
	padding-right: 11px;
	padding-left: 38px;
}

li.home a{
	padding-left: 38px;
	padding-right: 15px;
}

li.login_in a{
	padding-right: 15px;
	padding-left: 38px;
}

.login_in:before{
	content: "";
	background: url(../img/login.png) no-repeat;
	background-size: 30px 30px;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 1.2rem;
	left: 6.3rem;
}
.home::before{
	content: "";
	background: url(../img/menu.png) no-repeat;
	background-size: 27px 27px;
	position: absolute;
	width: 27px;
	height: 27px;
	top: 1.2rem;
	left: 0.4rem;
}
.sign:before{
	content: "";
	background: url(../img/signup.png) no-repeat;
	background-size: 30px 30px;
	position: absolute;
	width: 35px;
	height: 35px;
	top: 1.2rem;
	right: 4rem;
}

.header a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-size: 17px;
    padding: 14px 30px;
}

.header ul{
	margin: 8px 0 0 0;
    list-style: none;
}

.header a:hover{
    background-color:#ddd;
	color: #000;
}
/* 主页面 */
.main{
	width: 100%;
	height: 780px;
	background-color: #e9eaef;
	
}
/* 上半页面 */
.top{
    background-color:whitesmoke;
    height: 50%;
}

.top h2{
	color: black;
	text-align: center;
	font-size: 2rem;
	padding: 200px 0 25px;
}

.top h3{
	color: black;
	text-align: center;
	font-size: 1rem;
	padding-bottom: 100px;

}
/* 主界面 */
.regist_menu{
	width: 400px;
	height: 70px;
	margin: auto;
	background-color: white;
	position: relative;
	top: -70px;
    padding: 30px;
    box-shadow: 0px 0px 5px gray;
}
.regist_menu button{
	display: block;
	width: 100%;
	outline: none;
	background-color: #4277b2;
    border: none; 
    border-radius: 6px;
    box-shadow: 0px 0px 5px gray;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	padding: 15px;
}
.regist_menu button:hover{
    background-color: #5392db;
}

a.regist_success{
    color: white;
}
/* 永无BUG＼(￣▽￣)／!!!*/